@model TiimeTableGenerator.Models.TimeTableInput
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-centre " lang="en" style=" background-color:white;opacity:80%;padding-top:20px;" >
    
    
    <form class="form-control" asp-action="GenerateTimeTable" method="post" id="forminput" >
        <!-- Use the model properties for binding the input fields -->
        <h3 class=" text-primary" >How many classrooms do you have?</h3>
        <input asp-for="NumberOfClassRooms" type="number" placeholder="Enter number of classrooms" class="form-control mb-3 text-white" style="background-color: black; margin-top: 10px; margin-bottom: 10px;" />
        <h3 class="text-primary">How many periods are there everyday?</h3>
        <input asp-for="NumberOfPeriods" type="number" placeholder="Enter number of periods" class="form-control mb-3  text-light" style="color:black;background-color:black " />
        <h3 class="text-primary">How many subjects?</h3>
        <input asp-for="NumberOfSubjects" type="number" placeholder="Enter number of subjects" id="numberOfSubjects" class="form-control mb-3  text-light" style="background-color:black" />

        <div id="subjectFieldsContainer">
            <!-- Existing subjects input fields will be appended here dynamically -->
        </div>

        <button class="btn btn-primary mt-3 mb-3" style="background-color:black;" type="submit" >Submit</button>
    </form>


    <script>
        // This code block is executed when the value of the input field with id 'numberOfSubjects' changes
        document.getElementById('numberOfSubjects').addEventListener('input', function () {
            // Get the value entered in the 'numberOfSubjects' input field and convert it to an integer
            var numberOfSubjects = parseInt(this.value) || 0;

            // Get the element with id 'subjectFieldsContainer'
            var subjectFieldsContainer = document.getElementById('subjectFieldsContainer');

            // Clear any existing fields inside the 'subjectFieldsContainer'
            subjectFieldsContainer.innerHTML = '';

            // Loop through the number of subjects entered
            for (var i = 0; i < numberOfSubjects; i++) {
                // Create a new input field element
                var inputField = document.createElement('input');

                // Set the type of the input field to 'text'
                inputField.type = 'text';

                // Add CSS classes to the input field for styling
                inputField.classList.add("form-control", "mb-3", "bg-black", "text-white");

                // Set the name attribute of the input field to 'Subjects[i].Name'
                // This is used for binding the input field value to the 'Name' property of each 'Subject'
                inputField.name = 'Subjects[' + i + '].Name';

                // Set the placeholder text for the input field
                inputField.placeholder = 'Enter name of subject';

                // Append the input field to the 'subjectFieldsContainer'
                subjectFieldsContainer.appendChild(inputField);
            }
        });
    </script>


</div>
