

<div class="container text-centre text-black" style="background-color:white; text-align:center;opacity:85%;">
    <h3 style="padding-top: 100px; ">
        About
    </h3>
    <p style="padding-bottom: 20px;" >
        This project was created using a basic ASP .Net MVC architecture.<br/>
        To know more, check out the documentation in the following github repository:<br /><br />
        <a style="text-decoration:underline">TimeTable Gnerator - GitHub</a>
    </p>
</div>
